.library {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.library__book {
  padding: $m-size 0;
}

.library__book a,
.library__book a:visited {
  color: $color-offBlack;
}

.library__book a:hover {
  color: #a385a6;
}
