.home-hero {
  padding: $l-size 0 $xl-size 0;
}

.home_title {
  font-family: "Playfair Display", monospace;
  font-weight: 500;
  font-size: $xl-size;
  text-align: center;
}

.home_flourish {
  width: 50%;
  margin: 0 auto;
  line-height: 1.6;
}
